@model QuanLyChiTieuCaNhan.Models.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <h4><i class="fas fa-key"></i> Đổi mật khẩu</h4>
        <hr />

        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger small" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger small" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmNewPassword)
                @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmNewPassword, "", new { @class = "text-danger small" })
            </div>

            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i> Lưu thay đổi
            </button>
            <a href="@Url.Action("Index", "Dashboard")" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Quay lại
            </a>
        }
    </div>
</div>
